#back {
	position: absolute;
	width: 80%;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
<<<<<<< HEAD
=======
}

.material-icons {
	font-size: 3em;
}

.mangoosta-card {
  box-shadow: 1px 2px 4px #FFFAF0 !important;
  padding: 8px;
>>>>>>> e44c4ad9d6f2da6ab11d4f2530ce975fd11277ce
}