#back {
	position: absolute;
	z-index: -1;
	width: 80%;
	height: 90%;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.material-icons {
	font-size: 3em;
}

.mangoosta-card {
  box-shadow: 1px 2px 4px #FFFAF0 !important;
  height: 160px;
}