#back {
	position: absolute;
	z-index: -1;
	width: 80%;
	height: 90%;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.material-icons {
	font-size: 3em;
}

.mangoosta-card {
  height: 160px;
}

.mangoosta-card-bigger {
  height: 350px;
}

a.social-button {
	background-color: #0074D9;
	padding: 16px 8px;
	color: #FFFAF0 !important;
}

input, textarea {
	border-bottom: 2px solid #FFFAF0;
	margin: 16px 0
}

input:focus, textarea:focus {
	border-bottom: 2px solid #1E7A05;	
}